body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 20px;
  font-weight: bold;
}

.button {
  text-align: right;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 40px auto;
}
.user-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.user-card {
  background-color: #f4f4f4;
  padding: 20px;
}

.user-avatar {
  width: 100%;
}

.user-name {
  margin-top: 10px;
}

.user-email {
  margin-top: 5px;
}



